<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.PracticeAutomation.utils.ExtentTestListner" />
	</listeners>
	<test thread-count="5" name="Practice Automation Test" parallel="classes">
		<classes>
			<class name="com.PracticeAutomation.tests.RegisterTest" />
			<class name="com.PracticeAutomation.tests.LoginTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
